body {
  margin: 0;
}
.in-center {
  text-align: center;
  align-items: center;
  justify-content: center;
}
nav a{
  background-color: gray;
  padding: 10;
}

#featured-property img{
  width: 500px;
}


#details div{
  float: left;
  background-color: red;
  width: 25%;

}
.p-div{
width: 500px ;
text-align: center;
margin: auto;
}
